node_modules
build
*~
biz.tar.gz
index.json
.DS_Store
*.orig
target
.idea
.idea/*
.mvn
**/*.iml
src/main/resources/static
*.log
dev/application.yml
dev/application*.yml
dev/log4j2.xml
dev/akka.conf
fe/index.html
fe/vender/index.html
logs/*
.vscode
mom-web/src/main/resources/application*.yml
mom-web/src/main/resources/application.properties
mom-web/devtpzg
mom-gzb/testData
mom-web/src/main/java/com/datayes/mom/card/Mongo2FileService.java
mom-web/src/main/java/com/datayes/mom/cardView/CardPost.java
mom-web/src/main/java/com/datayes/mom/controller/ForTestController.java
mom-web/src/test/resources/
mom-web/dev
mom-web/src/main/resources/logback-spring.xml
